dl,dt,dd{
    margin:0;
}
.Wbox {
	width: 100%;
	height: 100%;
    background-color: #fff;
}
center{
    width: 100%;
}
.Policy{
    width: 970px;
    margin: 0 auto;
}
.aboutTitle{
    margin-top: 98px;
}
.aboutTitleText{
    font-size:36px;
    font-family:MicrosoftYaHei-Bold;
    font-weight:bold;
    color:rgba(19,154,229,1);
    text-align: center;
    position: relative;
}
.aboutLine{
    position: absolute;
    bottom:-16px;
    left: 50%;
    transform: translateX(-50%);
    width:126px;
    height:6px;
    background:rgba(19,154,229,1);
}
.aboutLineTen{
    position: absolute;
    bottom:-16px;
    left: 50%;
    transform: translateX(-50%);
    width:180px;
    height:6px;
    background:rgba(19,154,229,1);
}
.PolicyBox{
    margin-top: 82px;
    width: 100%;
    height: 388px;
    position: relative;
}
.PolicyA{
    width: 100%;
    height: 100%;
}
.PolicyContent{
    position: absolute;
    left: 50%;
    top: 304px;
    transform: translateX(-50%);
    width:729px;
    height:336px;
    padding: 35px 44px 25px 34px;
    background:rgba(242,246,247,1);
}
.PolicyContent>p{
    margin:0;
    font-size:16px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(51,51,51,1);
    line-height:48px;
    text-align: left;
}
.BrightSpot{
    width: 1170px;
    margin: 401px auto 0;
}
.BrightSpotBox{
    margin-top: 82px;
    display: flex;
    justify-content: space-between;
}
.BrightSpotItem{
    display: flex;
    flex-direction: column;
    width: 170px;
}
.BrightTop{
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.bgimg{
    width: 100%;
    height: 100%;
}
.BrightText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 170px;
    font-size:24px;
    font-family:MicrosoftYaHei;
    font-weight:bold;
    color:rgba(255,255,255,1);
}
.BrightBot{
    margin-top: 28px;
    width: 100%;
    height: 214px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.BrightBot>img{
    width: 100%;
    height: 100%;
}
.BrightBot>p{
    width:100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size:16px;
    font-family:MicrosoftYaHei;
    font-weight:bold;
    color:rgba(255,255,255,1);
    line-height:25px;
    margin:0;
}
.leader{
    width: 1170px;
    margin: 0 auto;
}
.MemberBox{
    margin-top: 82px;
    display: flex;
    justify-content: space-between;
}
.MemberBox{
    margin-top: 59px;
    display: flex;
    justify-content: space-between;
}
.MemberItem{
    width: 170px;
    height: 306px;
    background:rgba(242,246,247,1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.MemberItem:last-child{
    background: #fff;
}
.MemberItem>dl{
    display: flex;
    flex:1;
    flex-direction: column;
}
.MemberItem>dl>dt{
    width: 170px;
    height: 203px;
}
.peopleA,.peopleB,.peopleC,.peopleD,.peopleE{
    width: 100%;
    height: 100%;
}
.MemberItem>dl>dd{
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.MemberItemName{
    margin-top: 15px;
    font-size:20px;
    font-family:PingFang-SC-Regular;
    font-weight:bold;
    color:rgba(51,51,51,1);
}
.MemberItemLocal{
    margin-top: 11px;
}
.MemberItemLocal,.MemberItemPosition{
    font-size:16px;
    font-family:PingFang-SC-Regular;
    font-weight:400;
    color:rgba(51,51,51,1);
    line-height:24px;
}
.more{
    width:170px;
    height:64px;
    background:rgba(8,150,229,1);
    font-size:28px;
    font-family:PingFang-SC-Regular;
    font-weight:400;
    color:rgba(255,255,255,1);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.project{
    width: 1170px;
    margin: 0 auto 70px;
}
.projectBox{
    display: flex;
    flex-wrap: wrap;
    margin-top: 84px;
}
.projectItem{
    width: 370px;
    height: 209px;
    position: relative;
    margin: 0 30px 31px 0;
}
.projectItem:nth-of-type(3),.projectItem:nth-of-type(6),.projectItem:nth-of-type(9){
    margin: 0 0 31px 0;
}
.projectItem>img{
    width: 100%;
    height: 100%;
}
.projectTitle{
    margin:0;
    position: absolute;
    bottom: 0;
    left: 0;
    width:350px;
    padding: 0 10px;
    height:42px;
    background:rgba(0,0,0,.4);
    font-size:16px;
    display: flex;
    align-items: center;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(255,255,255,1);
    text-align: left;
}