html,
body {
	width: 100%;
	height: 100%;
	background-color: #fff;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	/*box-shadow: 0px 4px 18px 0px rgba(102, 102, 102, 0.12);*/
	/* padding: 0 15.78% 0 10.83%;*/
	width: 1200px;
	height: 110px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}

.leftTop {
	width: 152px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.logo {
	width: 47px;
	height: 47px;
}

.logoTitle {
	font-size: 17px;
	font-family: SourceHanSerifSC-Regular;
	font-weight: bold;
	color: rgba(19, 154, 229, 1);
	margin-top: 9px;
}

.rightTop {
	flex: 1;
	display: flex;
	align-items: center;
	margin-left: 200px;
}

.rightnav {
	display: flex;
	align-items: center;
}

.rightnav>a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 67px;
	height: 110px;
	font-size: 15px;
	padding: 0 10px;
	font-family: MicrosoftYaHei;
	font-weight: 400;
	color: rgba(51, 51, 51, 1);
	margin-right: 40px;
	text-decoration: none;
}

.active {
	font-size: 16px!important;
	color: rgba(19, 154, 229, 1)!important;
	border-bottom: 4px solid rgba(19, 154, 229, 1);
}

.imgbiao {
	display: flex;
	align-items: center;
}

.englishText,
.chinaText {
	display: flex;
	font-size: 15px;
	font-family: MicrosoftYaHei;
	font-weight: 400;
	color: rgba(51, 51, 51, 1);
}

.englishText {
	margin-right: 22px;
}

.Eimg,
.Cimg {
	width: 31px;
	height: 21px;
	margin-right: 6px;
}

footer {
	width: 100%;
	height: 256px;
	background: url('../images/footerimg.png') no-repeat;
	background-size: 100% 100%;
	display: flex;
	flex-direction: column;
}

.footerOne {
	width: 1170px;
	margin: 79px auto 29px;
	font-size: 20px;
	font-family: MicrosoftYaHei;
	font-weight: 400;
	color: rgba(255, 255, 255, 1);
}

.footerTwo {
	display: flex;
	width: 1170px;
	margin: 0 auto;
}

.footerThree {
	display: flex;
	width: 1170px;
	margin: 17px auto 77px;
}

.footerTwo>span,
.footerThree {
	font-size: 14px;
	font-family: MicrosoftYaHei;
	font-weight: 400;
	color: rgba(255, 255, 255, 1);
}

.footerTwo>span:nth-of-type(1) {
	margin-right: 236px;
}