dl,dt,dd{
    margin:0;
}
.Wbox {
	width: 100%;
	height: 100%;
    background-color: #fff;
}
center{
    width: 100%;
}
.Sponsor{
    width: 1121px;
    margin:43px auto 241px;
}
.Sponsor>dl{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.Sponsor>dl>dt{
    width: 662px;
    height: 430px;
}
.Sponsor>dl>dd{
    text-align: left;
}
.Sponsor>dl>dd>p{
    font-size:16px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(102,102,102,1);
    margin:0 0 19px 0;
    text-align: left;
} 
.Sponsor>dl>dd>b{ 
    font-size:24px;
    font-family:MicrosoftYaHei;
    font-weight:bold;
    color:rgba(102,102,102,1);
    margin-bottom: 39px;
    text-align: left;
    display: flex;
}
.Sponsor>dl>dd>b:nth-of-type(2){
    margin-top: 48px;
}
.Sponsorimg{
    width: 662px;
    height: 430px;
} 
#container{
    width: 662px;
    height: 430px;
} 