html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p,dl,dt,dd{
    margin: 0;
}
.Wbox{
    width: 100%;
}
/* 中间  */
center{
    width: 970px;
    margin: 0 auto 72px;
}
.Title{
    font-size:36px;
    font-family:MicrosoftYaHei-Bold;
    font-weight:bold;
    color:rgba(51,51,51,1);
    margin: 59px 0 28px 0;
    text-align: left;
}
.Time{
    font-size:18px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(51,51,51,1);
    padding-bottom: 30px;
    text-align: left;
    margin-left: 4px;
    border-bottom: 2px solid rgba(19,154,229,1);
}
.contentOne{
    font-size:18px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(51,51,51,1);
    line-height:42px;
    margin: 50px 0;
    text-align: left;
    text-indent: 2em;
}
.imgBox{
    width: 731px;
    height: 487px;
    margin:50px 0 63px 0;
}
.detailA{
    width: 100%;
    height: 100%;
}
.contentTwo,
.contentThree,
.contentFour,
.contentFive,
.contentSix,
.contentSeven,
.contentEight,
.contentNine,
.contentTen,
.contentEleven,
.contentTwelve,
.contentThirteen,
.contentFourteen{
    font-size:18px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(51,51,51,1);
    line-height:42px;
    text-align: left;
    text-indent: 2em;
}