dl,dt,dd{
    margin:0;
}
.Wbox {
	width: 100%;
	height: 100%;
    background-color: #fff;
}
p{
    margin: 0;
}
center{
    width: 100%;
}
.boxCenter{
    width: 1170px;
    margin: 60px auto 92px;
}
.container_list{
    width: 100%;
    display: flex;
    margin-bottom: 30px;
    cursor: pointer;
    text-decoration: none;
}
.container_img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_img>img{
    width: 270px;
    height: 152px; 
}
.container_Item{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container_Item>span:nth-of-type(1){
    font-size:22px;
    text-align: left;
    font-family:MicrosoftYaHei;
    font-weight:bold;
    color:rgba(51,51,51,1);
}
.container_Item>span:nth-of-type(2){
    font-size:16px;
    text-align: left;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(51,51,51,1);
    line-height:26px;
    height: 52px;
    margin-top: 30px;
    /* overflow: hidden;
	text-overflow: ellipsis;
    -o-text-overflow: ellipsis; */
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
	position: relative;
	padding: 0 20px 0 0;
}
.container_Item>span:nth-of-type(3){
    font-size:14px;
    text-align: left;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(102,102,102,1);
    margin-top: 24px;
}
/* .container_Item>span:nth-of-type(2):after {
	font-weight: bold;
	content: "...";
	position: absolute;
	right: 5px;
	top: 28px;
} */