p{
    margin: 0;
}
#hotel{
    width:1170px;
    margin: 0 auto;
    
}
#hotelTitle{
    color: #139AE5;
    font-size: 30px;
    height: 31px;
    
    text-align: left;
    float:left;
}
#hotelContent{
    float: left;
    width: 100%;
    margin-top: 31px;
    height:440px;
}
#hotelContentLeft{
    float: left;
    width: 610px;
    height: 341px;
}
#hotelContentLeft p{
    color: #666666;
    font-size: 16px;
    text-align: left;
    line-height: 25px;

}
#hotelContent>img{
    width: 532px;
    height: 397px;
    float: left;
    margin-left: 28px;
}
#hotelImages {
    margin-top: 19px
}
#hotelImages img{
    width: 210px;
    height: 157px;
    float: left;
    margin-right: 30px;
    margin-top: 30px;
}
#hotelImages>img:nth-of-type(5),#hotelImages>img:nth-of-type(10){
    margin-right: 0!important;
}
#route{
    width: 100%;
    height: 30px;
    margin-top: 50px;
    float: left;
    color: #666666;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
}
#routeLeft{
    width: 604px;
    height: 367px;
    float: left;
}
.routeList{
    width: 278px;
    height: 124px;
    float: left;
    margin-top: 43px;
}
.routeListHead{
    width: 300px;
    height: 24px;
    float: left;
}
.routeList img{
    width: 19px;
    height: 24px;
    float: left;
}
.routeList p{
    font-size:14px;
    text-align: left;
    line-height: 24px;
    color:#666666;
}
.local{
    text-align: left;
    color: #333333;
    font-size: 18px;
    font-weight: regular;
    margin-left: 15px;
    float: left;
}
#hotelMap{
    width: 524px;
    height: 367px;
    float: left;
    margin-left: 42px;
}
#container{
    width: 524px;
    height: 367px;
    float: left;
    margin-left: 42px;
    margin-bottom: 73px;
}