dl,dt,dd{
    margin:0;
}
.Wbox {
	width: 100%;
	height: 100%;
    background-color: #fff;
}
center{
    width: 100%;
}
.banner{
    width: 100%;
    margin-top: 2px;
}
.banner>img{
    width: 100%;
    height: auto;
}
.Bigtitle,.Characteristic{
    width: 1170px;
    margin: 0 auto;
}
.titleChina{
    font-size:42px;
    font-family:MicrosoftYaHei;
    font-weight:bold;
    color:rgba(51,51,51,1);
    text-align: center;
    margin:80px 0 0 0;
}
.titleEnglish{
    margin: 16px 0 0 0;
    text-align: center;
    font-size:24px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(102,102,102,1);
}
.content{
    text-indent: 2em;
    font-size:16px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(51,51,51,1);
    line-height:48px;
    text-align: left;
    margin:0;
}
.contentfirst{
    margin-top: 54px;
}
.Abstract{
    font-size:20px;
    font-family:MicrosoftYaHei;
    font-weight:bold;
    color:rgba(8,150,229,1);
    margin: 59px 0 0 0;
    text-align: center;
}
.boxCharacter{
    display: flex;
    margin-top: 30px;
}
.boxOne{
    width:234px;
    height:291px;
    background:rgba(8,150,229,1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.boxOneText{
    font-size:20px;
    font-family:MicrosoftYaHei;
    font-weight:bold;
    color:rgba(255,255,255,1);
}
.boxTwo{
    position: relative;
    width: 234px;
    height:291px;
    background: url('../images/Characteristic_a.png');
    background-size: 100%;
}
.boxThree{
    position: relative;
    width: 234px;
    height:291px;
    background: url('../images/Characteristic_b.png');
    background-size: 100%;
}
.boxFour{
    position: relative;
    width: 234px;
    height:291px;
    background: url('../images/Characteristic_c.png');
    background-size: 100%;
}
.boxFive{
    position: relative;
    width: 234px;
    height:291px;
    background: url('../images/Characteristic_d.png');
    background-size: 100%;
}
.boxItem{
    width:234px;
    height:67px;
    background:rgba(0,0,0,.7);
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0;
}
.boxItemOne,.boxItemTwo{
    font-size:16px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(255,255,255,1);
}
.boxItemTwo{
    margin-top: 6px;
}
.Sponsor{
    width: 960px;
    margin:19px auto 0;
}
.Sponsor>dl{
    display: flex;
    margin: 53px 0 0 0;
}
.Sponsor>dl>dt{
    width: 394px;
    height: 351px;
}
.SponsorA{
    width: 394px;
    height: 351px;
}
.Sponsor>dl>dd{
    margin-left: 30px;
    width: 536px;
}
.Sponsor>dl>dd>p{
    font-size:16px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(51,51,51,1);
    line-height:48px;
    text-align: left;
    margin:0;
}
.SponsorImg{
    margin-top: 50px;
    display: flex;
    align-items: center;
}
.SponsorB{
    width: 294px;
    height: 57px;
}
.SponsorC{
    width: 426px;
    height: 51px;
    margin-left: 106px;
}
.Member{
    width: 1170px;
    margin: 0 auto;
}
.MemberBox{
    margin-top: 59px;
    display: flex;
    justify-content: space-between;
}
.MemberItem{
    width: 170px;
    height: 306px;
    background:rgba(242,246,247,1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.MemberItem:last-child{
    background: #fff;
}
.MemberItem>dl{
    display: flex;
    flex:1;
    flex-direction: column;
}
.MemberItem>dl>dt{
    width: 170px;
    height: 203px;
}
.peopleA,.peopleB,.peopleC,.peopleD,.peopleE{
    width: 100%;
    height: 100%;
}
.MemberItem>dl>dd{
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.MemberItemName{
    margin-top: 15px;
    font-size:20px;
    font-family:PingFang-SC-Regular;
    font-weight:bold;
    color:rgba(51,51,51,1);
}
.MemberItemLocal{
    margin-top: 11px;
}
.MemberItemLocal,.MemberItemPosition{
    font-size:16px;
    font-family:PingFang-SC-Regular;
    font-weight:400;
    color:rgba(51,51,51,1);
    line-height:24px;
}
.more{
    width:170px;
    height:64px;
    background:rgba(8,150,229,1);
    font-size:28px;
    font-family:PingFang-SC-Regular;
    font-weight:400;
    color:rgba(255,255,255,1);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.Propaganda{
    width: 1172px;
    margin: 0 auto;
}
.Number{
    display: flex;
    justify-content: space-around;
    margin: 53px 0 27px 0;
}
.NumberOne,.NumberTwo,.NumberThree{
    display: flex;
    align-items: baseline;
}
.NumberOne>span:nth-of-type(1),.NumberTwo>span:nth-of-type(1),.NumberThree>span:nth-of-type(1){
    font-size: 36px;
    font-family: MicrosoftYaHei-Bold;
    color: #16A9F7;
    font-weight: bold;               
}
.NumberOne>span:nth-of-type(2),.NumberTwo>span:nth-of-type(2),.NumberThree>span:nth-of-type(2){
    font-size: 24px;
    font-family: MicrosoftYaHei;
    color: #666;
}
.PropagandaImg{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 80px;
}
.PropagandaImg>img{
    width: 586px;
    height: 303px;
}