dl,dt,dd{
    margin:0;
}
ul,ol{
    list-style: none;
}
p{
    margin:0;
}
.Wbox {
	width: 100%;
	height: 100%;
    background-color: #fff;
}
center{
    width: 100%;
}
.nav{
    width: 1170px;
    margin: 0 auto;
}
.tabsTop{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 89px 0 60px 0;
}
.tabsTop>li{
    width: 266px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    background:rgba(255,255,255,1);
    border:1px solid rgba(222,222,222,1);
    font-size:18px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(19,154,229,1);
}
.cur{
    background:rgba(19,154,229,1)!important;
    color:rgba(255,255,255,1)!important;
}
#guide{
    width: 1170px;
    margin: 0 auto; 
}
.banner{
    width: 100%;
    height: 614px;
    position: relative;
}
.banner>img{
    width: 100%;
    height: 100%;
}
.address{
    position: absolute;
    top: 558px;
    left: 50%;
    transform: translateX(-50%);
    width:970px;
    height:180px;
    background:rgba(19,154,229,1);
    display: flex;
    align-items: center;
}
.addressleft{
    display: inline-block;
    font-size:36px;
    width: 155px;
    height: 70px;
    font-family:MicrosoftYaHei-Bold;
    font-weight:bold;
    color:rgba(255,255,255,1);
    padding: 0 100px;
    border-right: 2px solid rgba(255,255,255,1);
}
.addressright{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
}
.addressright>span:nth-of-type(1){
    font-size:18px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(255,255,255,1);
}
.addressright>span:nth-of-type(2){
    font-size:18px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(255,255,255,1);
    margin-top: 14px;
}
.guideBox{
    width: 970px;
    display: flex;
    justify-content: space-between;
    margin: 194px auto 0;
}
.guideItem{
    width:370px;
    height:406px;
    background:rgba(247,247,247,1);
}
.guideItemTop{
    height: 191px;
    border-bottom: 1px solid rgba(222,222,222,1);
}
.guideItemBot{
    height: 214px;
    display: flex;
    flex-direction: column;
}
.guideTopBox{
    width:320px;
    height:161px;
    background:rgba(19,154,229,1);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.guideReg{
    font-size:16px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(255,255,255,1);
}
.guidePrice{
    font-size:36px;
    font-family:MicrosoftYaHei;
    font-weight:bold;
    color:rgba(255,255,255,1);
    margin: 17px 0 20px 0;
}
.guidePrice>span{
    font-size: 16px;
}
.guideDays{
    font-size:14px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(255,255,255,1);
}
.guideItemBotOne{
    font-size:16px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(102,102,102,1);
    margin: 39px 0 0 55px;
    text-align: left;
}
.guideItemBotTwo{
    font-size:16px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(102,102,102,1);
    margin: 18px 0 0 55px;
    text-align: left;
}
.guideItemBotThree{
    width:184px;
    height:54px;
    background:rgba(19,154,229,1);
    margin: 39px auto 0;
    font-size:16px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(255,255,255,1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.payBox{
    width: 970px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 99px auto 0;
}
.payTitle{
    font-size:30px;
    font-family:MicrosoftYaHei-Bold;
    font-weight:bold;
    color:rgba(102,102,102,1);
    text-align: left;
    margin: 0;
}
.guideimg{
    display: flex;
    margin-top: 38px;
    margin-bottom: 101px;
}
.guideimg>img:nth-of-type(1){
    width: 171px;
    height: 60px;
}
.guideimg>img:nth-of-type(2){
    width: 189px;
    height: 60px;
    margin-left: 62px;
}
.payphone{
    font-size:16px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(102,102,102,1);
    margin-top: 29px;
    text-align: left;
}
.payemail{
    font-size:16px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(102,102,102,1);
    text-align: left;
    margin:19px 0 100px 0;
}
