dl,dt,dd{
    margin:0;
}
ul,li{
    list-style: none;
}
.Wbox {
	width: 100%;
	height: 100%;
    background-color: #fff;
}
center{
    width: 100%;
}
.Policy{
    width: 970px;
    margin: 0 auto;
}
.aboutTitle{
    margin-top: 98px;
}
.aboutTitleText{
    font-size:36px;
    font-family:MicrosoftYaHei-Bold;
    font-weight:bold;
    color:rgba(19,154,229,1);
    text-align: center;
    position: relative;
}
.aboutLineOne{
    position: absolute;
    bottom:-16px;
    left: 50%;
    transform: translateX(-50%);
    width:180px;
    height:6px;
    background:rgba(19,154,229,1);
}
.aboutLineTwo{
    position: absolute;
    bottom:-16px;
    left: 50%;
    transform: translateX(-50%);
    width:422px;
    height:6px;
    background:rgba(19,154,229,1);
}
.leader{
    width: 1170px;
    margin-top:60px;
}
.MemberBox{
    margin-top: 82px;
    display: flex;
    justify-content: space-between;
}
.MemberBox{
    margin-top: 59px;
    display: flex;
    justify-content: space-between;
}
.MemberItem{
    width: 170px;
    height: 306px;
    background:rgba(242,246,247,1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.MemberItem:last-child{
    background: #fff;
}
.MemberItem>dl{
    display: flex;
    flex:1;
    flex-direction: column;
}
.MemberItem>dl>dt{
    width: 170px;
    height: 203px;
}
.peopleA,.peopleB,.peopleC,.peopleD,.peopleE{
    width: 100%;
    height: 100%;
}
.MemberItem>dl>dd{
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.MemberItemName{
    margin-top: 15px;
    font-size:20px;
    font-family:PingFang-SC-Regular;
    font-weight:bold;
    color:rgba(51,51,51,1);
}
.MemberItemLocal{
    margin-top: 11px;
}
.MemberItemLocal,.MemberItemPosition{
    font-size:16px;
    font-family:PingFang-SC-Regular;
    font-weight:400;
    color:rgba(51,51,51,1);
    line-height:24px;
}
.hospitalLeaer{
    width: 1170;
    margin-top: 60px;
}
.hospitalLeaer>table {
    width: 1170px;
}
.hospitalLeaer>table>tbody>tr{
    width:1170px;
    height:68px;
    line-height:68px;

}
.hospitalLast{
    font-size:16px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(19,154,229,1);
    line-height:68px;
}
table tr:nth-child(odd) {
    background:rgba(242,246,247,1);
  }
  table tr:nth-child(even) {
    background:rgba(255,255,255,1);
  }
table tr td {
    text-align: center;
    font-size:16px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(102,102,102,1);
}

.departmengt{
   width: 1170px;
   margin: 0 auto;
   display: flex;
   justify-content:space-between;
}
.departLeft,.departRight {
    width: 570px;
    margin-top: 60px;
    border-collapse:collapse;
}
table.departLeft td,table.departRight td{
    border:1px solid rgba(224,224,224,1);
    line-height:68px;
    font-size:16px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(102,102,102,1);
}

.one ,.four{
    width: 200px;
}
.two, .three{
    width:80px;
}
.region{
    margin-top: 60px;
    margin-bottom: 110px;
}
.regionLeader{
    width: 1170px;
    display: flex;
}
.regionLeader>div{
    width:270px;
    height:68px;
    display: flex;
    justify-content:space-between;
    line-height:68px;
    background-color: rgba(242,246,247,1);
    margin-bottom: 50px;
    margin-right: 30px;

}
.regionLeader>div>span{
    width:225px;
    height:17px;
    font-size:16px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(102,102,102,1);width:270px;
    height:68px;
    background:rgba(242,246,247,1);
}
div.last{
    margin-right: 0;
}